body {
}
input[type='submit'], button, [aria-label], textarea {
    cursor: pointer;
}

#EditMenu {
    display: none;
}
label ,p,input {
    font-size:14px;
}
p {
    font-size: 16px;
}
table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}
.wrap{
    margin-left:auto;
    margin-right:auto;
    max-width:1280px;
}
.content-holder {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.form-table{
   width:100%;
    table-layout:fixed;
}
    .form-table input, .form-table textarea, .add-button, .form-table button {
        width: 100%;
        height: 25px;
    }
        .form-table textarea{
            height:300px;

        }
        th {
            background-color: #0066CC;
            color: white;
        }
.site-input input[type=button], .site-input button{
    width:100%;
}
#PostMenu {
    display: none;
}
.title{
    text-decoration:underline;
}
.text-center{
    text-align:center;
}
.Alert {
    font-weight: bold;

}
*{box-sizing:border-box;}
.form-table td {
    border: 1px solid;
    padding: 5px;
    border-radius:5px;
}
.date-table{
    table-layout:fixed;
    width:100%;
}
    .date-table select{
        width:100%;
    }
    .data-table td {
        border: none !important;
    }